.screen {
  height: 50px;
  width: 190px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 24px;
  padding-right: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.keys {
  width: 250px;
}

.btn {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
  font-weight: bold;
  font-size: medium;
}
.btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(52, 52, 52);
}

.operator {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  background-color: rgb(244, 178, 55);
  border-radius: 50%;
  font-weight: bold;
  font-size: medium;
}
.operator:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(244, 178, 55);
}

.delete {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  background-color: rgb(244, 178, 55);
  border-radius: 50%;
  font-weight: bold;
  font-size: large;
  margin-left:5px;
}
.delete:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(244, 178, 55);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(233, 233, 233);
}

.detalleproducto {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: 0.5fr 2.2fr 0.4fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  grid-template-areas:
    ". . ."
    ". container ."
    ". . .";
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.screen {
  border-color: rgb(79, 79, 79);
  border-width: 3px;
  border-radius: 10%;
  text-align: right;
  background-color: #f2f2f2;
  text-align: right;
}
